.backUpBtn {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 9999999;
}

@media (max-width: 575.98px) {
  .backUpBtn {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
  }
}

.asideRecent {
  max-width: 17rem;
}
